@tailwind base;
@tailwind components;
@tailwind utilities;

/* SCROLLBAR DESIGN */
body::-webkit-scrollbar {
    width: 5px;
}
   
body::-webkit-scrollbar-track {
    background: transparent;
}
   
body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.4);
}
